// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.select-container{
    position: relative;
    overflow: hidden;
    border-radius: 30px;    

    &:before{
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        display: block;
        width: 30px;
        height: calc( 100% - 2px);
        background-color: #fff;
        background-image: url("/pogoda/public/img/down-arrow.svg");
        border-radius: 0 30px 30px 0;
        pointer-events: none;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: left center;
        cursor: pointer;
    }
}

.btn{
    border-radius: 30px;
}